img{
    width:95%;
    border: 15px solid purple;
    border-radius: 15px;
}
div{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}
@media screen and (min-width: 600px){
    body{
        background-color: lightblue;
    }
    div{
        grid-template-columns: 45% 45%;

    }

}